
/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
}
a {
    color: #ff0000;
}
h1 {
    font-size: 7vw;
    margin-top: 0;
}
h2 {
    font-size: 30px;
}

/* HERO STYLES */
.full-hero {
    background-color: #757575;
    height: 50vh;
}

/* SOCIAL STYLES */
.social-link {
    background-color: #757575;
    color: #ffffff;
    display: inline-block;
    height: 36px;
    width: 36px;
}

/* BIO STYLES */
.bio-wrapper {
    font-size: 24px;
    overflow: hidden;
}
.bio-wrapper::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.bio-box {
    background-color: rgba(174,235,161,0.5);
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 1rem;
    float: left;
    padding: 2%;
    width: 25%;
}
.bio-copy h3 {
    font-size: 1,5em;
}
.bio-copy {
    font-size: 1em;
}
.bio-copy a {
    color:#000088;
}

